include .travis.yml
include *.py
include *.txt
include buildout.cfg
include tox.ini
recursive-include src *.jpg
recursive-include src *.js
recursive-include src *.pt
recursive-include src *.txt
recursive-include src *.zcml
